*{
	box-sizing: border-box;
}

.pick{

	margin: 10px;
	color: blue;
}

#questionbox{
	float: left;
	display: none;

}

.domanda{
	clear: both;
}

#tracker{
	float: right;
	margin-right: 100px;
	position: relative;
	border: solid 2px black;
	padding: 5px;
	width: 300px;
	
}

#reveal{
	clear: both;
}

